.fade-away {
  animation: 2s fade-away forwards;
}

@keyframes fade-away {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-away {
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-away {
  100% {
    opacity: 0;
  }
}
